.plus_button{
    float:right;
}
.headings{
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comments{
    margin-top: 2%;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}