.plus_button{
    margin-top: auto;
    float:right;
}
.headings{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.posts{
  min-width: fit-content;
  overflow-y: scroll;
}